
<div class="searchbar">
<div class="title"> Hello <%= @name %> </div>
<p>This will be our seach page</p></div>
<div class="moviepic"></div>
<form action="/search" method="get">
	<input type="search" name="q" placeholder="put in a movie">
	<button>Lookup</button>
</form></div>