<!doctype html>


<html>

<head>
<link rel="stylesheet" href="css/movie.css">
</head>

<body class="body">
	<h1>This is our movie app</h1>
	<!-- render other stuff below here -->

	<%= yield %>
	<!-- End of render-->
</body>
</html>